name: Test
on:
  - push
jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: npm cit
      - run: node .github/workflows/verify_build.mjs
      - if: ${{ !cancelled() }}
        run: npm run lint
